
.mid{
    margin-top: 50px;
    margin-bottom: 50px;
}

body{
    overflow-x: hidden;
}


.login{
  font-family: "";
}

::-webkit-scrollbar {
    width: 10px;          
 }
 
 ::-webkit-scrollbar-thumb {   
   border-radius: 30px;
   background: linear-gradient(#6598cb, #6598cb);
   box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
 
 ::-webkit-scrollbar-track {     
   background-color: #fff;
   border-radius:10px;
   background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
 }