/* .wtphoto{
    width:200px;
	height:250px;
    
    
}
@media (min-width: 768px) {
    .wtphoto{
        width:200px;
        height:250px
    }
 }
 @media (min-width: 1024px) {
    .wtphoto{
        width:400px;
        height:250px
    }
 } */