.animation3, .animation_layer3 {
  height:1000px;
  }
  
  .animation3 {
    display: block;
    height:auto;
      position: relative;
      z-index: 10;
  }
  
  .animation_layer3 {
      background-position: bottom center;
      background-size: auto 1000px;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
  }
  .animation_layer .parallax3 {
      position: fixed;
  }

  #bgspons {
      background-image: url(../../assets/Sponsormodified/bg.svg);
      height:800px;
    }
    
    #layers0 {
      background-image: url(../../assets/Sponsormodified/layer3.svg);
      margin-bottom:'50px';
    }
    #layers1 {
      background-image: url(../../assets/Sponsormodified/layer.svg);
      margin-bottom:'40px';
    }
    #layers2 {
      background-image: url(../../assets/Sponsormodified/layer2.svg);
      margin-bottom:'40px';
    }
    #layers3 {
      background-image: url(../../assets/Sponsormodified/layer1.svg);
      
    }
    #layers4 {
      background-image: url(../../assets/Sponsormodified/layer1.svg);
      
    }
    #layers5 {
      background-image: url(../../assets/Sponsormodified//fishs2.svg);
      
    }
    #layers6 {
      background-image: url(../../assets/sponsor22/submarine.svg);
      margin-top: 10px;
      
      animation: animate 10s linear infinite
    }
    @media (max-width: 768px) {
      #layers6 {
          /* Adjust the background size as needed for smaller screens */
          background-size: 120%; /* Decrease the size to 50% */
      }
  }
  @media (max-width: 1024px) {
    #layers6 {
        /* Adjust the background size as needed for smaller screens */
        background-size: 120%; /* Decrease the size to 50% */
    }
}
    @keyframes animate 
    {
      0%
      {
        transform: translateY(-50px);
        left: -25%;
      }
      25%
      {
        transform: translateY(0px);
      }50%
      {
        transform: translateY(50px);
      }75%
      {
        transform: translateY(0px);
      }100%
      {
        transform: translateY(-50px);
        left: 150%;
      }
    }
    #layers7 {
      background-image: url(../../assets/sponsor22/turtle.svg);
      position: absolute;
      
    
        animation: animate 40s linear infinite
    }
    @media (max-width: 768px) {
      #layers7 {
          /* Adjust the background size as needed for smaller screens */
          background-size: 150%; /* Decrease the size to 50% */
      }
  }
    @keyframes animate 
    {
      0%
      {
        transform: translateY(-50px);
        left: -25%;
      }
      25%
      {
        transform: translateY(0px);
      }50%
      {
        transform: translateY(50px);
      }75%
      {
        transform: translateY(0px);
      }100%
      {
        transform: translateY(-50px);
        left: 150%;
      }
    }
    #layers8 {
      background-image: url(../../assets/sponsor22/fishs.svg);
      /* right: '50px'; */
    }
    #layers9 {
      background-image: url(../../assets/sponsor22/gelifish1.svg);
      
    }
    #layers10 {
      background-image: url(../../assets/Contactus/bubbles.png);
      
    }